{% extends "palpites/layout.html" %}
{% load static %}

{% block title %}
    404 - Not Found
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/404.css' %}?v=1.0">
{% endblock %}

{% block bodyPC %}
    <div class="erro">
        Infelizmente você quer acessar o impossível, por favor, tente novamente.
    </div>
{% endblock %}

{% block bodyMobile %}
    <div class="erro">
        Infelizmente você quer acessar o impossível, por favor, tente novamente.
    </div>
{% endblock %}
