{% extends "palpites/layout.html" %}
{% load static %}

{% block title %}
    {{title}}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'styles/principal.css' %}">
{% endblock %}

{% block body %}
    <div class="grid">
        <div class="jogos">
            <h3>Últimos Jogos</h3>
                {% for last in lastJogos %}
                    <ul>
                        <li>
                            <a href="{% url 'show_match' id=last.id %}">
                                <span class="texto">{{ last.rodada }}ª Rodada - </span>
                                <img class="escudo" src="{{ last.Mandante.escudo }}" alt="escudo mandante">
                                <span class="texto">{{ last.golsMandante }} 
                                X 
                                {{ last.golsVisitante }}</span>
                                <img class="escudo" src="{{ last.Visitante.escudo }}" alt="escudo visitante">
                            </a>
                        </li>
                    </ul>
                {% empty %}
                    <span>Não ocorreu jogo algum</span>
                {% endfor %}
            <h3>Próximos Jogos</h3>
                {% for prox in proxJogos %}
                    <ul>
                        <li>
                            <a href="{% url 'show_match' id=prox.id %}">
                                <span class="texto">{{ prox.rodada }}ª Rodada - </span>
                                <img class="escudo" src="{{ prox.Mandante.escudo }}" alt="escudo mandante">
                                <span class="texto">X</span>
                                <img class="escudo" src="{{ prox.Visitante.escudo }}" alt="escudo visitante">
                            </a>
                        </li>                    </ul>
                {% empty %}
                    <span>Não temos nenhum jogo registrado para ocorrer</span>
                {% endfor %}
        </div>
        <div id="ranking">
            <h2>Ranking dos Usuários</h2>
            <label for="ano">Ano: </label>
            <select name="ano" id="ano" class="select">
                <option value="0">Todos</option>
                <option value="2023">2023</option>
            </select>
            <label for="rodada">Rodada: </label>
            <select name="rodada" id="rodada" class="select">
                <option value="0">Todas</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
                <option value="32">32</option>
                <option value="33">33</option>
                <option value="34">34</option>
                <option value="35">35</option>
                <option value="36">36</option>
                <option value="37">37</option>
                <option value="38">38</option>
            </select>
            <div class="ranking">
                {% if ranking is not null %}
                    <ul>
                        <li>
                            <h3>Posição</h3>
                            <h3>Usuário</h3>
                            <h3>Pontuação Pepe</h3>
                            <h3>Pontuação Shroud</h3>
                        </li>
                        {% for posicao, usuario, pontosP, pontosS in ranking %}
                            <li>
                                <span>{{ posicao }}</span>   
                                <span>{{ usuario }}</span>
                                <span>{{ pontosP }}</span>
                                <span>{{ pontosS }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    Não existe nenhuma pontuação de nenhum usuário na rodada e ano especificados
                {% endif %}
            </div>
        </div>
        <div id="grafico"></div>
    </div>
    <script type="text/javascript" src="{% static 'scripts/ranking.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/grafico.js' %}"></script>
{% endblock %}