{% extends "palpites/layout.html" %}
{% load static %}

{% block title %}
    {{title}}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'styles/principal.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="{% static 'scripts/grafico.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/ranking.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="rankingContainer">
            <h2>Ranking dos Usuários</h2>
            <label for="ano">Ano: </label>
            <select name="ano" id="ano" class="select">
                <option value="0">Todos</option>
                {% for ano in anos %}
                    <option value="{{ ano }}">{{ ano }}</option>
                {% endfor %}
            </select>
            <label for="rodada">Rodada: </label>
            <select name="rodada" id="rodada" class="select">
                <option value="0">Todas</option>
                {% for rodada in rodadas %}
                    <option value="{{ rodada }}">{{ rodada }}</option>
                {% endfor %}
            </select>
            <div class="ranking">
                {% if ranking is not null %}
                    <ul>
                        <li>
                            <h3>Posição</h3>
                            <h3>Usuário</h3>
                            <h3>Pontuação Pepe</h3>
                            <h3>Pontuação Shroud</h3>
                        </li>
                        {% for posicao, usuario, id, pontosP, pontosS in ranking %}
                            <li>
                                <span>{{ posicao }}</span>   
                                <span><a href="{%  url 'userView' id=id %}">{{ usuario }}</a></span>
                                <span>{{ pontosP }}</span>
                                <span>{{ pontosS }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    Não existe nenhuma pontuação de nenhum usuário na rodada e ano especificados
                {% endif %}
            </div>
        </div>
        <div class="partidas">
            <h3>Últimos Jogos</h3>
                {% for last in lastJogos %}
                    <ul>
                        <li>
                            <a href="{% url 'show_match' id=last.id %}">
                                <span class="texto">{{ last.rodada }}ª Rodada - </span>
                                <img class="escudo" src="{{ last.Mandante.escudo }}" alt="escudo mandante">
                                <span class="texto">{{ last.golsMandante }} 
                                X 
                                {{ last.golsVisitante }}</span>
                                <img class="escudo" src="{{ last.Visitante.escudo }}" alt="escudo visitante">
                            </a>
                        </li>
                    </ul>
                {% empty %}
                    <span>Não ocorreu jogo algum</span>
                {% endfor %}
            <h3>Próximos Jogos</h3>
                {% for prox in proxJogos %}
                    <ul>
                        <li>
                            <a href="{% url 'show_match' id=prox.id %}">
                                <span class="texto">{{ prox.rodada }}ª Rodada - </span>
                                <img class="escudo" src="{{ prox.Mandante.escudo }}" alt="escudo mandante">
                                <span class="texto">X</span>
                                <img class="escudo" src="{{ prox.Visitante.escudo }}" alt="escudo visitante">
                            </a>
                        </li>                    </ul>
                {% empty %}
                    <span>Não temos nenhum jogo registrado para ocorrer</span>
                {% endfor %}
        </div>
        <div class="graficoContainer">
            <label for="usuario">Usuário: </label>
            <select name="usuario" id="usuario" class="select">
                <option value="voce">Você</option>
                <option value="todos">Todos</option>
                <option value="selecionar">Selecionar</option>
            </select>
            <label for="rodada_inicial">Rodada Inicial: </label>
            <select name="rodada_inicial" id="rodada_inicial" class="select">
                {% for rodada in rodadas %}
                    <option value="{{ rodada }}">{{ rodada }}</option>
                {% endfor %}
            </select>
            <label for="rodada_final">Rodada Final: </label>
            <select name="rodada_final" id="rodada_final" class="select">
                {% for rodada in rodadas %}
                    <option value="{{ rodada }}">{{ rodada }}</option>
                {% endfor %}
            </select>
            <canvas id="grafico"></canvas>
        </div>
    </div>
{% endblock %}