{% extends "palpites/layout.html" %}
{% load static %}

{% block title %}
    {{title}}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}?v=1.0">
{% endblock %}

{% block bodyPC %}

    <div class="container">
        <h2>Login</h2>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input autofocus type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>

        <span>Não tem uma conta? <a href="{% url 'register' %}">Registre-se.</a></span>
    </div>
{% endblock %}

{% block bodyMobile %}

    <div class="container">
        <h2>Login</h2>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input autofocus type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>

        <span>Não tem uma conta? <a href="{% url 'register' %}">Registre-se.</a></span>
    </div>
{% endblock %}