{% extends "palpites/layout.html" %}
{% load static %}

{% block title %}
    {{title}}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}?v=1.0">
{% endblock %}

{% block body %}

    <div class="container">

        <h2>Registrar</h2>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
            <input class="form-control" type="email" name="email" placeholder="Endereço de E-mail">
            <input class="form-control" type="password" name="password" placeholder="Senha">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirmar Senha">
            <input class="btn btn-primary" type="submit" value="Register">
        </form>

        Já tem uma conta? <a href="{% url 'login' %}">Logue aqui.</a>

    </div>

{% endblock %}