<div class="palpites">
    {% if tamanho_palpites > 0 %}
        <h1>Palpites</h1>
        <div class="jogos">
            {% for palpite, resultado in palpites %}
                <div class="{% if resultado == 0 %}red_border{% elif resultado == 1 %}orange_border{% elif resultado == 2 %}yellow_border{% elif resultado == 3 %}green_border{% endif %} jogo">
                    <div class="player"><a href="{%  url 'userView' id=palpite.usuario.id %}">{{ palpite.usuario }}</a></div>
                    <a href="{% url 'show_team' id=partida.Mandante.id %}">
                        <img class="escudo" src="/{{ partida.Mandante.escudo }}" alt="escudo mandante">
                    </a>
                    <span class="texto">{{ palpite.golsMandante }}</span>
                    <span class="texto">X</span>
                    <span class="texto">{{ palpite.golsVisitante }}</span>
                    <a href="{% url 'show_team' id=partida.Visitante.id %}">    
                        <img class="escudo" src="/{{ partida.Visitante.escudo }}" alt="escudo visitante">
                    </a>
                    <div class="resultado">{{  resultado }}</div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        Não houve palpites dessa partida
    {% endif %}
</div>