{% load static %}

{% if jogoComecou %}
    <div id="resultado">
        <h1>Modificar Resultado</h1>
        <div class="jogo">
            <a href="{% url 'show_team' id=partida.Mandante.id %}">
                <img class="escudo" src="/{{ partida.Mandante.escudo }}" alt="escudo mandante">
            </a>
            <input type="number" name="golsMandante" id="golsMandante" min=0>
            <span class="texto">X</span>
            <input type="number" name="golsVisitante" id="golsVisitante" min=0>
            <a href="{% url 'show_team' id=partida.Visitante.id %}">    
                <img class="escudo" src="/{{ partida.Visitante.escudo }}" alt="escudo visitante">
            </a>
        </div>
        <button type="submit" onclick="modificarResultado()">Modificar Resultado</button>
        <div class="fechar"><img src="{% static 'icons/close-x.svg' %}" alt="Fechar-Usuários"></div>
    </div>
{% else %}
    <div id="palpite">
        <h1>Modificar Palpite</h1>
        <div class="jogo">
            <a href="{% url 'show_team' id=partida.Mandante.id %}">
                <img class="escudo" src="/{{ partida.Mandante.escudo }}" alt="escudo mandante">
            </a>
            <input type="number" name="golsMandante" id="golsMandante" min=0>
            <span class="texto">X</span>
            <input type="number" name="golsVisitante" id="golsVisitante" min=0>
            <a href="{% url 'show_team' id=partida.Visitante.id %}">    
                <img class="escudo" src="/{{ partida.Visitante.escudo }}" alt="escudo visitante">
            </a>
        </div>
        <button type="submit" onclick="modificarPalpite()">Palpitar</button>
        <div class="fechar"><img src="{% static 'icons/close-x.svg' %}" alt="Fechar-Usuários"></div>
    </div>
{% endif %}