.container {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
}
@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
}
.container .rankingContainer {
  min-height: 75dvh;
  flex-grow: 0.8;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media (max-width: 1000px) {
  .container .rankingContainer {
    min-height: 0;
    margin-bottom: 1em;
  }
}
.container .rankingContainer h1 {
  text-align: center;
}
.container .rankingContainer .filtro {
  margin: 0 20%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  align-items: center;
}
@media (max-width: 1000px) {
  .container .rankingContainer .filtro {
    margin: 0 5%;
    flex-direction: column;
    gap: 0.25em;
  }
}
.container .rankingContainer .filtro select {
  color: var(--fc);
  background-color: var(--bg);
  border: none;
  font-size: 0.8em;
  border-width: 2px;
  border-style: outset;
  border-color: #ccc;
  padding: 0.5em;
}
@media (max-width: 1000px) {
  .container .rankingContainer .filtro select {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.8em;
  }
}
.container .rankingContainer .ranking {
  margin: 0 15%;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
@media (max-width: 1000px) {
  .container .rankingContainer .ranking {
    margin: 0 5%;
    width: 90%;
    font-size: 0.8em;
  }
}
.container .rankingContainer .ranking h2 {
  text-align: center;
}
.container .rankingContainer .ranking h2 #indicador-pepe, .container .rankingContainer .ranking h2 #indicador-shroud {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container .rankingContainer .ranking h2 #indicador-pepe::after, .container .rankingContainer .ranking h2 #indicador-shroud::after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  width: 0;
  height: 0;
  border: 0.4em solid transparent;
}
.container .rankingContainer .ranking h2 #indicador-pepe.desc::after, .container .rankingContainer .ranking h2 #indicador-shroud.desc::after {
  border-top-color: var(--fc);
}
.container .rankingContainer .ranking .posicao {
  font-size: 1.5em;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  margin: 0.5em 0 0 0;
}
.container .rankingContainer .ranking .ouro {
  background-color: gold;
  border-radius: 50%;
  color: black;
}
.container .rankingContainer .ranking .prata {
  background-color: silver;
  border-radius: 50%;
  color: black;
}
.container .rankingContainer .ranking .bronze {
  background-color: #CD7F32;
  border-radius: 50%;
  color: black;
}
.container .rankingContainer .ranking .usuario {
  font-size: 1.5em;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  margin: 0.5em 0 0 0;
}
.container .rankingContainer .ranking a {
  text-decoration: none;
  color: var(--fc);
  font-weight: bold;
}
.container .rankingContainer .ranking .pontos {
  font-size: 1.5em;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  margin: 0.5em 0 0 0;
}
.container .rankingContainer .ranking .erro {
  padding: 2em 0;
  grid-column: 1/5;
  font-size: 1.5em;
}
.container .jogos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1000px) {
  .container .jogos {
    font-size: 2.5em;
  }
}
.container .jogos .pagination {
  margin-bottom: 0.5em;
}
@media (max-width: 1000px) {
  .container .jogos .pagination {
    font-size: 0.5em;
  }
}
.container .jogos .pagination button {
  background-color: var(--bg);
  color: var(--fc);
  font-size: 1em;
  margin: 0 0.5em;
  padding: 0.2em 0.8em;
  border-width: 2px;
  border-style: outset;
  border-color: var(--fc);
  cursor: pointer;
}
.container .jogos .pagination span {
  color: var(--fc);
}
.container .jogos .container-partidas {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  width: 100%;
}
.container .jogos .container-partidas .partida a {
  display: grid;
  align-items: center;
  text-align: center;
  justify-items: center;
  text-decoration: none;
  grid-template-columns: auto 3em 4em 3em;
  color: inherit;
  border: 1px solid black;
  border-radius: 1em;
  padding: 0.5em;
}
@media (max-width: 1000px) {
  .container .jogos .container-partidas .partida a {
    grid-template-columns: auto auto auto auto;
  }
}
.container .jogos .container-partidas .partida a .escudo {
  width: 2em;
  margin: 0 auto;
}
.container .jogos .container-partidas .partida .texto {
  margin: auto 0;
  font-size: 1em;
}
@media (max-width: 1000px) {
  .container .jogos .container-partidas .partida .texto {
    font-size: 0.4em;
  }
}

.graficoContainer {
  padding: 0 10%;
  margin-top: 2em;
}
.graficoContainer .seletores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
}
@media (max-width: 1000px) {
  .graficoContainer .seletores {
    grid-template-columns: auto auto;
    font-size: 0.6em;
    width: 100%;
  }
}
.graficoContainer .seletores select {
  width: 7em;
  height: 2.5em;
  border-width: 2px;
  border-style: outset;
  border-color: #ccc;
  padding: 5px;
  font-size: 1em;
  margin: auto 0;
  color: var(--fc);
  background-color: var(--bg);
}
@media (max-width: 1000px) {
  .graficoContainer .seletores select {
    width: 90%;
  }
}
.graficoContainer .seletores #campeonato {
  width: 90%;
}
.graficoContainer .checkbox-container, .graficoContainer .radio-container {
  margin-top: 1em;
  display: none;
}
.graficoContainer .checkbox-container label, .graficoContainer .radio-container label {
  margin-bottom: 1em;
  margin-right: 1em;
}
.graficoContainer .checkbox-container span {
  vertical-align: middle;
}
.graficoContainer .checkbox-container input[type=checkbox] {
  width: 1em;
  height: 1em;
  margin-right: 5px;
  vertical-align: middle;
}