.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jogos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 1em;
    align-items: center;
    justify-items: center;
}

.jogos .rodada{
  font-size: 1em;
}

.escudo{
  width: 50px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #666;
}