*, *::after, *::before{
    box-sizing: border-box;
}

html, body{
    background-color: #222;
    color: white;
    margin: 0;
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    right: 0;
    background-color: inherit;
    z-index: 9999;

    height: 4em;
}

.profile-image-bar{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 2em;
    margin-right: 1em;
}

.icon_home{
    width: 2em;
    height: 4em;
    /* filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%); */
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li{
    position: relative;
}

nav ul li:hover{
    background-color: #333 ;
}

nav ul li a {
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    width: 8em;
    height: 4em;
    line-height: 4em;
}

/* Sub Option */
nav ul li ul{
    display:none;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li:hover .sub-option {
    display: block;
}

.sub-option {
    display: none;
    position: absolute;
    top: 4em;
    right: 0;
    z-index: 1;
    width: 8em;
    background-color: #222;
}

.sub-option li a {
    font-size: 1em;
    text-decoration: none;
    display: block;
}

.sub-option li a:hover {
    background-color: #333;
}

@media (max-width: 1250px){
    html, body{
        font-size: xx-large;
    }

    .profile-image-bar{
        display: none;
    }

    nav span{
        margin-left: 0.5em;
    }
}