h2{
    text-align: center;
}

.times{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 20%;
    row-gap: 1em;
}

.times a{
    text-decoration: none;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.times a .escudo{
    width: 2em;
    margin: auto;
}

.times a .nome{
    color: white;
    font-weight: bold;
}