.profile {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1em;
}
@media (max-width: 1000px) {
  .profile {
    font-size: 3rem;
  }
}
.profile h1 {
  font-size: 2em;
  margin-bottom: 20px;
}
.profile .profile-info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (max-width: 1000px) {
  .profile .profile-info {
    flex-direction: column;
  }
}
.profile .profile-info .profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}
@media (max-width: 1000px) {
  .profile .profile-info .profile-image {
    width: 350px;
    height: 350px;
  }
}
.profile .profile-info .user-info h2 {
  font-size: 1.5em;
  margin-bottom: 1.5em;
}
.profile .profile-info .user-info p {
  font-size: 1em;
  margin-bottom: 1em;
}

hr {
  margin: auto;
}

h1 {
  text-align: center;
  margin: 1em 0;
}

.aproveitamento {
  margin: 2em 10%;
  gap: 1em;
  display: grid;
  align-items: center;
  text-align: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 1000px) {
  .aproveitamento {
    flex-direction: column;
    font-size: 3rem;
  }
}
.aproveitamento h2 {
  text-align: center;
}
.aproveitamento .escudo {
  width: 2em;
}
.aproveitamento #indicador-pepe, .aproveitamento #indicador-shroud {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.aproveitamento #indicador-pepe::after, .aproveitamento #indicador-shroud::after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  width: 0;
  height: 0;
  border: 0.4em solid transparent;
}
.aproveitamento #indicador-pepe.desc::after, .aproveitamento #indicador-shroud.desc::after {
  border-top-color: var(--fc);
}
.aproveitamento span {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1em;
}